* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .slider {
    height: 258px;
    width: 192px;
    /* border: 1px solid #000; */
    margin:0 30px;
    overflow:"hidden";
    /* padding:2rem 0; */
    border-radius: 4px;
    /* background-color: red; */
  }
  .react-multi-carousel-item{
    /* background-color: red; */
    max-width: 13rem;
  }

  
  .slider img {
    width: 100%;
    height: 100%;
    border-radius:10px;
    border: none!important;
    outline: none!important;
    cursor: pointer;
    transition: .2s linear;
  }
  .slider img:hover{
    box-shadow: 0 0 10px #969696a7;
  }
  
  .react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  }
  
  .custom-dot-list-style button{
  border: none;
  background: rgb(243, 243, 243) ;
}



.react-multi-carousel-dot.react-multi-carousel-dot--active button{
    background: #f38e6e!important;
  }